@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "whyte";
  src: url("public/Fonts/Whyte-Regular.eot");
  src: local("public/Fonts/Whyte-Regular"),
    local("public/Fonts/Whyte-Regular"),
    url("public/Fonts/Whyte-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("public/Fonts/Whyte-Regular.woff2") format("woff2"),
    url("public/Fonts/Whyte-Regular.woff") format("woff"),
    url("public/Fonts/Whyte-Regular.ttf") format("truetype");
  font-weight: 100;
  font-weight: 200;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "WhyteBold";
  src: url("public/Fonts/Whyte-Bold.eot");
  src: local("public/Fonts/Whyte Bold"),
    local("public/Fonts/Whyte-Bold"),
    url("public/Fonts/Whyte-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("public/Fonts/Whyte-Bold.woff2") format("woff2"),
    url("public/Fonts/Whyte-Bold.woff") format("woff"),
    url("public/Fonts/Whyte-Bold.ttf") format("truetype");
  font-weight: 100;
  font-weight: 200;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "WhyteInktrapBold";
  src: url("public/Fonts/WhyteInktrap-Bold.eot");
  src: local("public/Fonts/Whyte Inktrap Bold"),
    local("public/Fonts/WhyteInktrap-Bold"),
    url("public/Fonts/WhyteInktrap-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("public/Fonts/WhyteInktrap-Bold.woff2")
      format("woff2"),
    url("public/Fonts/WhyteInktrap-Bold.woff") format("woff"),
    url("public/Fonts/WhyteInktrap-Bold.ttf")
      format("truetype");
  font-weight: 100;
  font-weight: 200;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: "WhyteInktrap";
  src: url("public/Fonts/WhyteInktrap-Regular.eot");
  src: local("public/Fonts/Whyte-Inktrap-Regular"),
    local("public/Fonts/WhyteInktrap-Regular"),
    url("public/Fonts/WhyteInktrap-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("public/Fonts/WhyteInktrap-Regular.woff2")
      format("woff2"),
    url("public/Fonts/WhyteInktrap-Regular.woff")
      format("woff"),
    url("public/Fonts/WhyteInktrap-Regular.ttf")
      format("truetype");
  font-weight: 100;
  font-weight: 200;
  font-weight: 300;
  font-weight: 400;
  font-weight: 500;
  font-weight: 600;
  font-weight: 700;
  font-weight: 800;
  font-weight: 900;
  font-style: normal;
}

body {
  overflow-x: hidden; 
}