@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "whyte";
  src: url("/Fonts/Whyte-Regular.eot");
  src: local("/Fonts/Whyte-Regular"),
    local("/Fonts/Whyte-Regular"),
    url("/Fonts/Whyte-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/Whyte-Regular.woff2") format("woff2"),
    url("/Fonts/Whyte-Regular.woff") format("woff"),
    url("/Fonts/Whyte-Regular.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "WhyteBold";
  src: url("/Fonts/Whyte-Bold.eot");
  src: local("/Fonts/Whyte Bold"),
    local("/Fonts/Whyte-Bold"),
    url("/Fonts/Whyte-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/Whyte-Bold.woff2") format("woff2"),
    url("/Fonts/Whyte-Bold.woff") format("woff"),
    url("/Fonts/Whyte-Bold.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "WhyteInktrapBold";
  src: url("/Fonts/WhyteInktrap-Bold.eot");
  src: local("/Fonts/Whyte Inktrap Bold"),
    local("/Fonts/WhyteInktrap-Bold"),
    url("/Fonts/WhyteInktrap-Bold.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/WhyteInktrap-Bold.woff2")
      format("woff2"),
    url("/Fonts/WhyteInktrap-Bold.woff") format("woff"),
    url("/Fonts/WhyteInktrap-Bold.ttf")
      format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "WhyteInktrap";
  src: url("/Fonts/WhyteInktrap-Regular.eot");
  src: local("/Fonts/Whyte-Inktrap-Regular"),
    local("/Fonts/WhyteInktrap-Regular"),
    url("/Fonts/WhyteInktrap-Regular.eot?#iefix")
      format("embedded-opentype"),
    url("/Fonts/WhyteInktrap-Regular.woff2")
      format("woff2"),
    url("/Fonts/WhyteInktrap-Regular.woff")
      format("woff"),
    url("/Fonts/WhyteInktrap-Regular.ttf")
      format("truetype");
  font-style: normal;
}

body {
  overflow-x: hidden; 
}